{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PRANJAL RAWAT || Born to be somebody</title>
    <link rel="icon" href="{% static 'images/pranjal.png' %}" alt="Hi!" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/media-queries.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
  {% block script %}
      <script type="text/javascript" src="{% static 'js/smoothscroll.js' %}"></script>
    {% endblock %}

  </head>
  <body>
    <!-- Header
 ================================================== -->
 <div class="home">

 <header id="home">

    <nav id="nav-wrap">

       <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
      <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

       <ul id="nav" >
          <li class="current"><a class="smoothscroll" href="#home">Home</a></li>
          <li><a class="smoothscroll" href="#about">About</a></li>
          <li><a class="smoothscroll" href="#resume">Resume</a></li>
          <li><a class="smoothscroll" href="#portfolio">Works</a></li>
          <li><a class="smoothscroll" href="#contact">Contact</a></li>
       </ul> <!-- end #nav -->
    </nav> <!-- end #nav-wrap -->


 <div class="row banner">
         <div class="banner-text">
            <h1 class="responsive-headline">I'm Pranjal Rawat.</h1>
            <h3>I'm a software developer <span>programmer</span>, and <span>webdesigner</span> creates awesome and
            effective softwares, web applications and logical programs.</h3>
            <hr />
            <ul class="social">
               <li><a href="https://www.github.com/PranjalRawat"><i class="fa fa-github"></i></a></li>
               <li><a href="https://www.twitter.com/pranjalrawat78"><i class="fa fa-twitter"></i></a></li>
               
               <li><a href="https://www.linkedin.com/in/pranjal-rawat-2462b8149"><i class="fa fa-linkedin"></i></a></li>
               <li><a href="https://www.instagram.com/pranjalrawat_174"><i class="fa fa-instagram"></i></a></li>
               
            </ul>
            <ul class="social">
                <li><a href="https://www.codechef.com/users/pranjalrawat"><span class="iconify" data-icon="simple-icons:codechef" data-inline="false" data-width="40px" data-height="40px"></span></a></li>
                <li><a href="http://codeforces.com/profile/PranjalRawat"><span class="iconify" data-icon="simple-icons:codeforces" data-inline="false" ></a></span></li>
                <li><a href="https://leetcode.com/pranjal_rawat/"><span class="iconify" data-icon="cib:leetcode" data-inline="false" ></span></a></li>
                <li><a href="https://www.hackerrank.com/PranjalRawat"><span class="iconify" data-icon="cib:hackerrank" data-inline="false" ></span></a></li>
                <li><a href="https://www.hackerearth.com/@rawatpranjal111"><span class="iconify" data-icon="cib:hackerearth" data-inline="false" ></a></span></li>
            </ul>
         </div>
      </div>
    </header> <!-- Header End -->
  </div>

<!--About
================================================= -->

<div class="about" id="about">
  <div class="row">

  <div class="col-md-4">
    <img id="img" src="{% static "images/pranjal.jpg" %}" alt="My image"/>
  </div>

  <div class="col-md-8">
    <h2 style="text-align: center; font-size:50px; color:white">About Me</h2>
    <p style="color:grey; font-size:18px">"Hi, I'm Pranjal Rawat.  I'm currently working at evolving my skills in data struture, algorithms and dynamic programming.
         I am a master student in Uttaranchal University, I'm spinning up a side project to make this Web Application more stylish and awesome.
         I am highly motivated and never give up. I know how to develop a good quality Responsive website.
          I also have an interest in space science, to know more about universe, and love to play
         war action shooting pc games."</p>
    <h3 style="color:white; font-weight: bold;">Contact Details</h3>
    <div class="row">
      <div class="col-md-6">
        <address>
          Pranjal Rawat<br>
          297b Shivrajpur<br>
           Kotdwar, pincode - 246149<br>
          Uttarakhand, INDIA<br>
          +91 8171961695<br>
          rawatpranjal111@gmail.com<br>
        </address>
      </div>
      <div class="col-md-6">
          <a class="btn btn-primary" href="{% static "pranjal_rawat.pdf" %}">
            <i class="fa fa-download"></i>
            Download Resume
          </a>
      </div>
    </div>
  </div>
  </div>
</div><!--=========ABOUT SECTION ENDS ========-->



<!--Education
================================================= -->

<div class="resume" id="resume">
  <div class="row">
    <div class="col-md-3" style="padding-right:12%;">
      <h4 class="head">EDUCATION</h4>
    </div>
    <div class="col-md-9">

      <h2 class="side-head">Uttaranchal University</h2>
      <h5 class="side-sub-head">Master's in Computer Application &nbsp;<span>•</span>&nbsp;<em>August 2019 - Till Now</em></h5><br>
      <p class="description">I am a master student [Master's in Computer Application] currently in 5th semester from Uttaranchal University.</p>
      <br>


      <h2 class="side-head">HNBGU Gharwal University</h2>
      <h5 class="side-sub-head">Bacheolar in Computer Application &nbsp;<span>•</span>&nbsp;<em>July 2016 - July 2019</em></h5><br>
      <p class="description">Completed BCA [Bacheolar in Computer Application] from HNBGU Gharwal University with <em>75.43%</em> marks in aggregrate.</p>
      <br>


      <h2 class="side-head">RCD Public School</h2>
      <h5 class="side-sub-head">Intermediate (CBSE Board) &nbsp;<span>•</span>&nbsp;<em>June 2016</em></h5><br>
      <p class="description">Completed Intermediate <em>[10+2]</em> from RCD public school kotdwar. Passed out from CBSE Board with <em>70.16%</em> marks in aggregate. </p>
      <br>


      <h2 class="side-head">Rising Sun Public School</h2>
      <h5 class="side-sub-head">High School (Uttarakhand Board)&nbsp;<span>•</span>&nbsp;<em>March 2014</em></h5><br>
      <p class="description">Completed High School <em>[10th]</em> from Rising Sun public school kotdwar. Passed out from Uttarakhand Board with <em>69.8%</em> marks in aggregate. </p>
    </div>
  </div>


  <hr style="border-color:#b6b7ba"/>


  <div class="row">
    <div class="col-md-3" style="padding-right:17%;">
      <h4 class="head">SKILLS</h4>
    </div>


    <div class="col-md-9">
      <p class="description">Enjoy learning and adapt easily to new situations. Able to think clearly and solve problems in stressful situations.
         Work well under pressure and always get the job done. I also had a good knowledge in following languages and working environments.</p>
      <br>


      <div class="bars">
        <ul class="skills">
            <li><div class="progress-bar c progress-bar-striped active" ></div><em>C</em></li>
            <li><div class="progress-bar cpp progress-bar-striped active" ></div><em>C++</em></li>
            <li><div class="progress-bar python progress-bar-striped active" ></div><em>PYTHON</em></li>
            <li><div class="progress-bar html5 progress-bar-striped active" ></div><em>HTML 5</em></li>
            <li><div class="progress-bar css progress-bar-striped active" ></div><em>CSS</em></li>
            <li><div class="progress-bar django progress-bar-striped active" ></div><em>DJANGO</em></li>

			  </ul>
				</div>
    </div>
  </div>
</div><!--EDUCATION SECTION ENDS-->


<!--Projects
================================================= -->
<div class="portfolio" id="portfolio">
  <h3 class="h3">Check Out Some of My Works</h3><br>
  <div class="images_projects">
    <div><a href="https://webmovieinfo.herokuapp.com/"><img src="{% static "images/proj/movie_info.png" %}" alt=""/></a></div>
    <div><a href="https://getyourresume.github.io/"><img src="{% static "images/proj/getresume.jpg" %}" alt=""/></a></div>
    <div><a href="{% static 'Find Your Age.zip' %}"><img src="{% static "images/proj/findage.jpg" %}" alt=""/></a></div>
    
    
  </div>
  <div class="images_projects">
    <div><a href="{% static 'Turtle Race.zip' %}"><img src="{% static "images/proj/turtlerace.jpg" %}" alt=""/></a></div>
    <div><a href="https://github.com/PranjalRawat/Falcon"><img src="{% static "images/proj/falcon.jpg" %}" alt=""/></a></div>
  </div>
</div><!--Projects SECTION ENDS-->


<!--Contact
================================================= -->
<div id="contact">
<div class="contact">
  <h3 class="h3">Get In Touch</h3><br>
  <ul class="footer-social">
     <li><a href="https://www.github.com/PranjalRawat"><i class="fa fa-github"></i></a></li>
     <li><a href="https://www.twitter.com/pranjalrawat78"><i class="fa fa-twitter"></i></a></li>
     
     <li><a href="https://www.linkedin.com/in/pranjal-rawat-2462b8149"><i class="fa fa-linkedin"></i></a></li>
     <li><a href="https://www.instagram.com/pranjalrawat_174"><i class="fa fa-instagram"></i></a></li>
     <li><a href="https://mail.google.com/mail/?view=cm&source=mailto&to=rawatpranjal111@gmail.com"><i class="fas fa-envelope-square"></i></a></li>
  </ul>
  <h5 style="text-align: center; padding-bottom: 250px; ">Designed By : Pranjal Rawat</h5>
</div>
</div>





  </body>
</html>
