/* screenwidth less than 1024px -------------------------------------------------------- */

@media only screen and (max-width: 1024px) {
    /* header styles */
    .responsive-headline {
        font-size: 6rem;
    }
}


/* screenwidth less than 900px ----------------------------------------------------------- */

@media only screen and (max-width: 900px) {
    /* header styles */
    header {
        height: 600px;
    }
    header .banner {
        padding-bottom: 12px;
    }
    .responsive-headline {
        font-size: 5rem;
    }
    header .banner-text h3 {
        font: 17px/1.9em 'librebaskerville-regular', serif;
        width: 80%;
    }
    header .banner-text hr {
        width: 65%;
        margin: 12px auto;
    }
    /* nav-wrap */
    #nav-wrap {
        font: 11px 'opensans-bold', sans-serif;
        letter-spacing: 1.5px;
    }
    .head {
        font-size: 4rem;
        padding-top: 7%;
        text-align: center;
        margin-bottom: 1em;
    }
    .side-head {
        font-size: 2.4rem;
    }
    .certificate .col-md-3 {
        padding-right: 0 !important;
    }
    .badge_box {
        padding: 2em 4em;
    }
    .portfolio h3 {
        font-size: 3rem;
    }
    .images_projects {
        display: block;
    }
    .inner_container {
        margin: inherit;
    }
    .img_subcon {
        width: 0;
    }
    .fot_social {
        display: none;
    }
}


/* mobile wide/smaller tablets ------------------------------------------------------ */

@media only screen and (max-width: 767px) {
    /* mobile navigation */
    header {
        height: 200px;
    }
    #nav-wrap {
        font: 12px 'opensans-bold', sans-serif;
        background: transparent !important;
        letter-spacing: 1.5px;
        width: auto;
        position: fixed;
        top: 0;
        right: 0;
    }
    #nav-wrap>a {
        width: 48px;
        height: 48px;
        text-align: left;
        background-color: #CC5200;
        position: relative;
        border: none;
        float: right;
        font: 0/0 a;
        text-shadow: none;
        color: transparent;
        position: relative;
        top: 0px;
        right: 30px;
    }
    #nav-wrap>a:before,
    #nav-wrap>a:after {
        position: absolute;
        border: 2px solid #fff;
        top: 35%;
        left: 25%;
        right: 25%;
        content: '';
    }
    #nav-wrap>a:after {
        top: 60%;
    }
    /* toggle buttons */
    #nav-wrap:not( :target)>a:first-of-type,
    #nav-wrap:target>a:last-of-type {
        display: block;
    }
    /* hide menu panel */
    #nav-wrap ul#nav {
        height: auto;
        display: none;
        clear: both;
        width: auto;
        float: right;
        position: relative;
        top: 12px;
        right: 0;
    }
    /* display menu panels */
    #nav-wrap:target>ul#nav {
        display: block;
        padding: 30px 20px 48px 20px;
        background: #1f2024;
        margin: 0 30px;
        clear: both;
    }
    ul#nav li {
        display: block;
        height: auto;
        margin: 0 auto;
        padding: 0 4%;
        text-align: left;
        border-bottom: 1px solid #2D2E34;
        border-bottom-style: dotted;
    }
    ul#nav li a {
        display: block;
        margin: 0;
        padding: 0;
        margin: 12px 0;
        line-height: 16px;
        /* reset line-height from 48px */
        border: none;
    }
    .skills {
        margin: 0px;
        padding: 0px;
    }
    /* Header Styles */
    header .banner {
        padding-bottom: 12px;
        padding-top: 6px;
    }
    .responsive-headline {
        font-size: 4rem;
    }
    header .banner-text h3 {
        font: 16px/1.9em 'librebaskerville-regular', serif;
        width: 85%;
    }
    header .banner-text hr {
        width: 80%;
        margin: 18px auto;
    }
    /* header social links */
    header .social {
        margin: 18px 0 24px 0;
        font-size: 24px;
        line-height: 36px;
    }
    header .social li {
        margin: 0 10px;
    }
    /* scrolldown link */
    header .scrolldown {
        display: none;
    }
    .head {
        font-size: 4rem;
        padding-top: 7%;
        text-align: center;
        margin-bottom: 1em;
    }
    .side-head {
        font-size: 2.4rem;
    }
    .certificate .col-md-3 {
        padding-right: 0 !important;
    }
    .badge_box {
        padding: 2em 4em;
    }
    .portfolio h3 {
        font-size: 3rem;
    }
    .images_projects {
        display: block;
    }
    .inner_container {
        margin: inherit;
    }
    .img_subcon {
        width: 0;
    }
    .fot_social {
        display: none;
    }
}


/* mobile narrow ----------------------------------------------------------------- */

@media only screen and (max-width: 480px) {
    /* mobile navigation */
    #nav-wrap ul#nav {
        width: auto;
        float: none;
    }
    /* header styles */
    header {
        height: 200px;
    }
    header .banner {
        padding-top: 24px;
    }
    header .banner-text h3 {
        font: 14px/1.9em 'librebaskerville-regular', sans-serif;
        width: 90%;
    }
    .responsive-headline {
        font-size: 3rem;
    }
    #img {
        margin: 0 auto;
        padding: 2em 3em;
        width: 100%;
    }
    /* header social links */
    header .social {
        font-size: 20px;
    }
    header .social li {
        margin: 0 6px;
    }
    .desc h2 {
        font-size: 4rem;
    }
    .desc p {
        font-size: 1.7rem;
    }
    .desc h3 {
        font-size: 2.5rem;
        margin: 2em auto .5rem;
    }
    .head {
        font-size: 4rem;
        padding-top: 7%;
        text-align: center;
        margin-bottom: 1em;
    }
    .side-head {
        font-size: 2.4rem;
    }
    .certificate .col-md-3 {
        padding-right: 0 !important;
    }
    .badge_box {
        padding: 2em 4em;
    }
    .portfolio h3 {
        font-size: 3rem;
    }
    .images_projects {
        display: block;
    }
    .inner_container {
        margin: inherit;
    }
    .img_subcon {
        width: 0;
    }
    .fot_social {
        display: none;
    }
}