:root {
  --mainbg: #1f2833;
  --clr-text: #fff;
  --clr-main-1: rgb(119, 211, 80);
  --clr-main-2: #45a29e;
  --clr-hex: #294950;
  --nav-bg-clr: #294950;
  --nav-clr: rgb(255, 255, 255);
  --nav-clr-hvr: var(--clr-main-1);
  --nav-clr-shadow: #294950;
  --invert: invert(100%);
}

.light-theme {
  --mainbg: #fbe8a6;
  --clr-text: #000;
  --clr-main-1: #574e24;
  --clr-main-2: #f4976c;
  --clr-hex: #e4c580;
  --nav-bg-clr: #e4c580;
  --nav-clr: rgb(0, 0, 0);
  --nav-clr-hvr: var(--clr-main-1);
  --nav-clr-shadow: #e4c580;
  --invert: invert(0%);
}

.dark-theme {
  --mainbg: #1f2833;
  --clr-text: #fff;
  --clr-main-1: rgb(119, 211, 80);
  --clr-main-2: #45a29e;
  --clr-hex: #294950;
  --nav-bg-clr: #294950;
  --nav-clr: rgb(255, 255, 255);
  --nav-clr-hvr: var(--clr-main-1);
  --nav-clr-shadow: #294950;
  --invert: invert(100%);
}

#theme-toggle::after {
  content: attr(aria-label);
  position: absolute;
  color: var(--mainbg);
  background: var(--clr-main-2);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: .7rem;
  right: -1em;
  top: 100%;
  padding: 0.25em .5em;
  border-radius: 0.25em;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: opacity 100ms linear, -webkit-transform 0ms linear 100ms;
  transition: opacity 100ms linear, -webkit-transform 0ms linear 100ms;
  transition: transform 0ms linear 100ms, opacity 100ms linear;
  transition: transform 0ms linear 100ms, opacity 100ms linear, -webkit-transform 0ms linear 100ms;
}

#theme-toggle:hover,
#theme-toggle:focus {
  outline: 0;
  opacity: 1;
}

#theme-toggle:hover::after,
#theme-toggle:focus-visible::after {
  opacity: 0.7;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: opacity 70ms linear, -webkit-transform 70ms linear;
  transition: opacity 70ms linear, -webkit-transform 70ms linear;
  transition: transform 70ms linear, opacity 70ms linear;
  transition: transform 70ms linear, opacity 70ms linear, -webkit-transform 70ms linear;
}

.toggle-circle {
  -webkit-transition: -webkit-transform 500ms ease-out;
  transition: -webkit-transform 500ms ease-out;
  transition: transform 500ms ease-out;
  transition: transform 500ms ease-out, -webkit-transform 500ms ease-out;
}

.light-theme .toggle-circle {
  -webkit-transform: translateX(-15%);
          transform: translateX(-15%);
}

.toggle-sun {
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: -webkit-transform 750ms cubic-bezier(0.11, 0.14, 0.29, 1.32);
  transition: -webkit-transform 750ms cubic-bezier(0.11, 0.14, 0.29, 1.32);
  transition: transform 750ms cubic-bezier(0.11, 0.14, 0.29, 1.32);
  transition: transform 750ms cubic-bezier(0.11, 0.14, 0.29, 1.32), -webkit-transform 750ms cubic-bezier(0.11, 0.14, 0.29, 1.32);
}

.light-theme .toggle-sun {
  -webkit-transform: rotate(0.5turn);
          transform: rotate(0.5turn);
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: Lulo-Clean;
  src: url("fonts/Lulo-Clean-Bold.39a2c7f346d5.ttf");
}

@font-face {
  font-family: Luco-outline;
  src: url("fonts/Lulo-Clean-Outline-Bold.0f9e4e6d3dc6.otf");
}

body {
  background: var(--mainbg);
  margin: 0;
  color: var(--clr-text);
  overflow-x: hidden;
}

header {
  margin: 0;
  padding: 0;
  background: transparent;
  text-align: center;
  position: fixed;
  z-index: 99;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  width: 100%;
}

.logo {
  margin: 0;
}

.nav {
  background: var(--nav-bg-clr);
}

.nav__toggle {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

.nav__toggle i {
  outline: none;
  color: var(--clr-text);
  position: relative;
  font-size: 2.2rem;
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
}

.theme {
  position: absolute;
  top: 17px;
  right: 0;
  margin-right: 1em;
}

.theme #theme-toggle {
  background: 0;
  border: 0;
}

.theme #theme-toggle svg {
  fill: var(--clr-main-2);
}

.topnav {
  font-family: "Luco-outline", sans-serif;
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  background: var(--nav-bg-clr);
  width: 100%;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
  padding-top: 5em;
  padding-bottom: 5em;
}

.topnav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 10px;
}

.topnav li + li {
  padding-top: 2.8em;
}

.topnav a {
  opacity: 0;
  color: var(--nav-vlr);
  text-decoration: none;
  font-size: 2rem;
  font-weight: 800;
  text-transform: uppercase;
  -webkit-transition: opacity 150ms ease-in-out;
  transition: opacity 150ms ease-in-out;
}

.topnav a:hover {
  color: var(--nav-clr-hvr);
}

.open {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.open a {
  opacity: 1;
  -webkit-transition: opacity 250ms ease-in-out 250ms;
  transition: opacity 250ms ease-in-out 250ms;
}

section {
  background-image: radial-gradient(circle at top left, var(--clr-main-2), var(--mainbg) 45%);
  position: relative;
  text-align: center;
  margin: 0;
  padding: 1em;
  font-size: 1rem;
  padding-bottom: 2em;
}

section .main__content {
  padding-top: 6em;
  text-align: left;
  color: var(--clr-text);
  text-transform: uppercase;
}

section .main__content h1 {
  font-family: "Lulo-Clean", sans-serif;
  font-size: 3.6rem;
  letter-spacing: -10px;
  margin-bottom: 0.5em;
}

section .main__content__desc {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.15em;
  line-height: 1.7em;
}

section .main__content span {
  color: var(--clr-main-1);
}

section .main__img {
  display: none;
}

section .social {
  margin: 0;
  margin-top: 4em;
}

section .social__presence {
  margin: 0;
  list-style: none;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2rem;
  padding: 0;
}

section .social__presence li + li {
  padding-left: 0.8em;
}

section .social__presence li a {
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
  color: var(--clr-main-1);
}

section .social__presence li a:hover,
section .social__presence li a:focus {
  outline: none;
  color: var(--clr-main-2);
}

.about {
  position: relative;
  padding: 2em;
  padding-top: 4em;
  text-align: center;
  line-height: 1.6em;
}

.about__left {
  display: none;
}

.about__content__desc {
  padding-top: 1.5em;
  text-align: justify;
}

.about__contact {
  padding-top: 1.4em;
  text-align: left;
}

.about__contact h3 {
  font-size: 1.5rem;
}

.about__contact__desc ul {
  list-style: none;
  padding-left: 1.5em;
}

.about__resume {
  padding-top: 2em;
}

.about__resume__btn {
  font-size: 1.3rem;
  background: var(--clr-main-2);
  color: var(--clr-text);
  border: 0;
  padding: 0.5em;
  border-radius: 0.5em;
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
  text-decoration: none;
}

.about__resume__btn:hover, .about__resume__btn:focus {
  outline: none;
  color: var(--clr-text);
  background: var(--mainbg);
}

.about__resume__btn i {
  padding-right: 0.25em;
}

.skills {
  background-image: radial-gradient(circle at top left, var(--nav-bg-clr), var(--mainbg) 30%);
  position: relative;
  padding: 2em;
  padding-top: 4em;
  text-align: center;
  line-height: 1.6em;
}

.skills__right {
  position: relative;
  padding-top: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2em;
}

.skills__right div {
  width: 150px;
  height: 150px;
}

.skills__right .octagon {
  overflow: hidden;
}

.skills__right .inner {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: var(--clr-hex);
  border-radius: 40%;
  -webkit-box-shadow: 0 0 10px 5px inset var(--nav-bg-clr);
          box-shadow: 0 0 10px 5px inset var(--nav-bg-clr);
}

.skills__right .inner .content {
  font-family: "Lulo-Clean", sans-serif;
  position: relative;
  width: 100%;
  text-transform: uppercase;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  font-size: 1.25rem;
  top: .5em;
  left: .5em;
}

.skills__right .inner .content > i {
  font-size: 5rem;
}

.skills__right .inner #cover_img {
  position: relative;
  text-align: center;
  display: block;
  width: 52px;
  left: 2.45em;
  -webkit-filter: var(--invert);
          filter: var(--invert);
}

.skills__right .inner p {
  font-size: .6rem;
  margin: 0 0 -5px;
  padding: 0;
}

.skills__right .inner .stars {
  padding-top: .1em;
  font-size: 1rem;
  color: var(--clr-text);
}

.certificates {
  background-image: radial-gradient(circle at bottom right, var(--nav-bg-clr), var(--mainbg) 60%);
  padding: 2em;
  padding-top: 4em;
}

.certificates__left {
  text-align: center;
}

.certificates__right {
  padding-top: 2em;
}

.certificates__right .certificate__container + .certificate__container {
  padding-top: 3em;
}

.certificates__right .certificate__container__left .title {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--nav-clr-hvr);
}

.certificates__right .certificate__container__left .desc {
  padding-top: 2em;
  letter-spacing: .5px;
}

.certificates__right .certificate__container__left .verify {
  padding-top: 1em;
}

.certificates__right .certificate__container__left .verify span {
  font-size: 1.2rem;
}

.certificates__right .certificate__container__left .verify a {
  text-decoration: none;
  color: var(--nav-clr-hvr);
}

.certificates__right .certificate__container__right {
  display: none;
}

.experience {
  background-image: radial-gradient(circle at top left, var(--nav-bg-clr), var(--mainbg) 25%);
  padding: 2em;
  padding-top: 4em;
}

.experience__left h1 {
  text-align: center;
  padding-bottom: 1em;
}

.experience__right .company {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--nav-clr-hvr);
  padding-bottom: 1em;
  letter-spacing: 2px;
}

.experience__right .duration {
  font-size: 1rem;
  font-weight: 600;
  color: var(--clr-text);
  padding-bottom: 1em;
}

.experience__right .desc {
  line-height: 1.6em;
}

.education {
  padding: 4em 1.5em 2em;
}

.education h1 {
  text-align: center;
  padding-bottom: 2em;
}

.education__container {
  margin: 20px auto;
  max-width: 1080px;
  position: relative;
}

.education__container .timeline {
  width: 5px;
  height: 95%;
  position: absolute;
  background: var(--clr-text);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 5px;
}

.education__container .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.education__container .items:nth-child(even) {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.education__container .items:nth-child(even) .items__row::before {
  right: -7px;
}

.education__container .items:nth-child(odd) {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.education__container .items:nth-child(odd) .items__row::before {
  left: -7px;
}

.education__container .items__row {
  background-color: var(--clr-hex);
  border-radius: 5px;
  width: calc(50% - 30px);
  padding: .5em;
  position: relative;
}

.education__container .items__row::before {
  position: absolute;
  content: '';
  height: 15px;
  width: 15px;
  background: var(--clr-hex);
  top: 25px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: -1;
}

.education__container .items__row i {
  font-size: 2rem;
  position: absolute;
  content: '';
  background: var(--mainbg);
  border-radius: 50%;
  width: 1.3em;
  height: 1.3em;
  text-align: center;
  padding-top: 4px;
}

.education__container .items__row .title {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--nav-clr-hvr);
}

.education__container .items__row .course {
  padding-top: 10px;
}

.education__container .items__row .duration {
  padding-top: 5px;
  color: var(--nav-clr-hvr);
}

.education__container .items__row .desc {
  display: none;
}

.education__container .items + .items {
  margin-top: 2em;
}

.education__container .items:nth-child(even) i {
  right: -51.5px;
}

.education__container .items:nth-child(odd) i {
  left: -50px;
}

.portfolio {
  background-image: radial-gradient(circle at bottom right, var(--nav-bg-clr), var(--mainbg) 60%);
  padding: 2em;
  padding-top: 4em;
  padding-bottom: 4em;
}

.portfolio h1 {
  text-align: center;
  padding-bottom: 3em;
}

.portfolio__container__items + .portfolio__container__items {
  padding-top: 2em;
}

.portfolio__container__items {
  margin: 0 auto;
  text-align: center;
}

.portfolio__container__items img {
  width: 300px;
  height: 300px;
  border-radius: 1em;
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
}

.portfolio__container__items img:hover {
  -webkit-transform: scale(0.9, 0.9);
          transform: scale(0.9, 0.9);
}

.contact {
  padding: 2em;
  padding-top: 2em;
  background: var(--nav-bg-clr);
}

.contact h1 {
  text-align: center;
  padding-bottom: 1em;
}

.contact__left form {
  padding: 0 1em;
  line-height: 1.6em;
  position: relative;
}

.contact__left label {
  padding-left: .5em;
  font-size: 1.5rem;
}

.contact__left input {
  height: 3em;
}

.contact__left input,
.contact__left textarea {
  width: 100%;
  border-radius: 20px;
  outline: none;
  padding-left: 10px;
  margin-bottom: 1.5em;
}

.contact__left .mail__btn {
  width: 30%;
  font-size: 1rem;
  position: relative;
  right: -70%;
  padding: 1em 0;
}

.contact__right {
  position: relative;
  display: none;
}

.contact__right img {
  width: 100%;
  height: 100%;
}

.contact__right .illu {
  color: var(--mainbg);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-align: right;
  position: absolute;
  right: -10em;
  top: 14em;
}

.contact__right .illu a {
  color: var(--mainbg);
  text-decoration: none;
}

.copyright {
  background: var(--nav-bg-clr);
  text-align: center;
  line-height: 2em;
  letter-spacing: 1px;
}

@media screen and (min-width: 600px) {
  .nav__toggle {
    display: none;
  }
  .logo {
    display: none;
  }
  .topnav {
    all: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
  .topnav ul {
    padding-top: 0.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .topnav li {
    margin: 0;
    padding: 0;
  }
  .topnav li + li {
    padding: 0;
    margin-left: 1em;
  }
  .topnav a {
    opacity: 1;
    font-size: 1rem;
    font-weight: 500;
    position: relative;
    -webkit-transition: 250ms ease-in-out;
    transition: 250ms ease-in-out;
  }
  .topnav a::before {
    content: "";
    display: block;
    height: 5px;
    background: var(--nav-clr-hvr);
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    -webkit-transition: -webkit-transform 250ms ease-in-out 150ms;
    transition: -webkit-transform 250ms ease-in-out 150ms;
    transition: transform 250ms ease-in-out 150ms;
    transition: transform 250ms ease-in-out 150ms, -webkit-transform 250ms ease-in-out 150ms;
  }
  .topnav a:focus {
    outline: none;
    color: var(--nav-clr-hvr);
  }
  .topnav a:hover::before,
  .topnav a:focus::before {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  .theme {
    top: 1.7em;
    margin-right: 5px;
  }
  section {
    margin: 0;
    padding-bottom: 4em;
  }
  section .main__content {
    padding-top: 4em;
  }
  section .main__content h1 {
    text-align: center;
  }
  section .main__content__desc {
    text-align: center;
  }
  .about {
    padding-top: 3em;
  }
  .about__extra {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .certificates__right .certificate__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1em;
  }
  .certificates__right .certificate__container__right {
    display: block;
  }
  .certificates__right .certificate__container__right .badge {
    width: 100%;
  }
  .certificates__right .certificate__container__right .badge img {
    width: 100%;
  }
  .portfolio__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 1em;
  }
  .portfolio__container__items + .portfolio__container__items {
    padding-top: 0;
  }
  .portfolio__container__items img {
    width: 250px;
    height: 250px;
  }
  .contact__left form {
    padding: 0 20%;
  }
  .contact__left form input,
  .contact__left form textarea {
    margin-bottom: 1em;
  }
}

@media screen and (min-width: 750px) {
  .topnav li {
    margin-left: 1.5em;
  }
  .topnav a {
    font-size: 1.2rem;
  }
  section {
    padding: 1em;
    padding-top: 7em;
    padding-bottom: 3em;
  }
  section .main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 7fr 1fr 4fr;
        grid-template-columns: 7fr 1fr 4fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1em;
  }
  section .main__content {
    padding: 0;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    text-align: left;
  }
  section .main__content h1 {
    text-align: left;
  }
  section .main__content__desc {
    text-align: left;
    padding: 0;
    margin-top: 1em;
  }
  section .main__img {
    position: relative;
    display: inline-block;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    padding: 0;
    margin: 0 auto;
  }
  section .main__img img {
    display: block;
    width: 13em;
    height: 13em;
    border-radius: 50%;
  }
  section .social {
    margin: 1em 0 0;
  }
  .about {
    padding: 4rem;
  }
  .skills {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 0.5fr 5fr;
        grid-template-columns: 1fr 0.5fr 5fr;
  }
  .skills__left {
    padding-top: 3em;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .skills__left h1 {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    -webkit-box-shadow: 0 8px 0 -4px var(--clr-main-1);
            box-shadow: 0 8px 0 -4px var(--clr-main-1);
    margin: 0 auto;
    padding: 4px;
  }
  .skills__right {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .education__container .items .desc {
    padding-top: 2em;
    display: block;
  }
  .portfolio__container {
    gap: 1em;
  }
}

@media screen and (min-width: 820px) {
  .skills {
    -ms-grid-columns: 2fr 1fr 7fr;
        grid-template-columns: 2fr 1fr 7fr;
  }
  .skills__left h1 {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  .certificates {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr .4fr 7.6fr;
        grid-template-columns: 2fr .4fr 7.6fr;
  }
  .certificates__left {
    padding-top: 3em;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .certificates__left h1 {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    -webkit-box-shadow: 0 8px 0 -4px var(--clr-main-1);
            box-shadow: 0 8px 0 -4px var(--clr-main-1);
    margin: 0 auto;
    padding: 4px;
  }
  .certificates__right {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
  }
  .experience {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr .4fr 7.6fr;
        grid-template-columns: 2fr .4fr 7.6fr;
  }
  .experience__left {
    padding-top: 1em;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .experience__left h1 {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    -webkit-box-shadow: 0 8px 0 -4px var(--clr-main-1);
            box-shadow: 0 8px 0 -4px var(--clr-main-1);
    margin: 0 auto;
    padding: 4px;
  }
  .experience__right {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    padding-top: 2em;
  }
  .education__container {
    padding: 0 4em;
  }
  .contact h1 {
    margin-bottom: 0;
    padding-bottom: 1em;
  }
  .contact__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 1em;
  }
  .contact__left {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .contact__left form {
    padding: 0;
    line-height: 1em;
  }
  .contact__left label {
    font-size: 1rem;
  }
  .contact__right {
    display: block;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  .copyright {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .copyright__left {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .copyright__right {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
}

@media screen and (min-width: 986px) {
  header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr minmax(900px, 9fr);
        grid-template-columns: 1fr minmax(900px, 9fr);
  }
  .logo {
    display: block;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  .topnav {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    padding: 0;
  }
  .topnav li {
    margin-left: 1em;
  }
  .topnav a {
    font-size: 1.2rem;
  }
  .topnav li + li {
    margin-left: 1.5em;
  }
  .theme {
    top: 20px;
  }
  section {
    padding: 4em 6em 6em 6em;
  }
  section .main {
    padding: 2em;
    -ms-grid-columns: 6fr 1fr 4fr;
        grid-template-columns: 6fr 1fr 4fr;
  }
  section .main__content__desc {
    padding-top: 2em;
    padding-right: 3em;
    line-height: 1.5rem;
    letter-spacing: 1px;
  }
  section .main__img img {
    width: 15em;
    height: 15em;
  }
  .about {
    padding: 5em 16em;
  }
  .skills {
    -ms-grid-columns: 2fr 1fr 4.5fr;
        grid-template-columns: 2fr 1fr 4.5fr;
  }
  .certificates {
    -ms-grid-columns: 2fr 1fr 4.5fr;
        grid-template-columns: 2fr 1fr 4.5fr;
  }
  .experience {
    -ms-grid-columns: 2fr 1fr 3.7fr .8fr;
        grid-template-columns: 2fr 1fr 3.7fr .8fr;
    padding-bottom: 4em;
  }
  .education__container {
    padding: 0 8em;
  }
  .portfolio__container {
    gap: .3em;
  }
  .portfolio__container__items img {
    width: 300px;
    height: 300px;
  }
  .contact__left form {
    padding: 0 20%;
  }
}
/*# sourceMappingURL=style.css.map */